.bitcoin-details {
	padding-bottom: 25px;
}

.chart-container {
	padding: 25px;
}

.current-price {
	font-weight: 800;
	padding-bottom: 25px;
	font-size: 28px;
}

.current {
	font-size: 18px;
	color: rgb(160, 160, 160);
}

.current-time {
	display: flex;
	justify-content: space-between;
	width: 200px;
}

.current-time-span {
	font-size: 14px;
	color: rgb(160, 160, 160);
}

.chart {
	display: flex;
}

.chart .values {
	display: flex;
	flex-direction: column;
  justify-content: space-between;
	width: 50px;
	font-size: 12px;
}

.dates {
	display: flex;
	width: 68%;
	justify-content: space-between;
	margin-left: 50px;
	padding-top: 10px;
	border-top: 1px solid #0F5DFF;
}

.dates p {
	text-transform: uppercase;
	font-size: 12px;
}
