.main-image {
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.article-title {
	left: 25px;
	font-size: 50px;
	color: #e0e0e0;
	background: #000;
	padding: 20px;
	margin-left: 15%;
	width: 70%;
}

.article-info {
	line-height: 24px;
}

.article-author {
	padding: 10px 0;
	color: rgb(160, 160, 160);
	font-style: italic;
	font-size: 14px;
}

.artice-description {
	color: #000;
	font-size: 14px;
}

.main-article-container .section-title {
	margin-bottom: 15px;
	padding-left: 10px;
	border-left: 5px solid #ffde00;
}
