.main-image {
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}

.article-title {
	position: absolute;
	top: 50%;
	left: 25px;
	font-size: 50px;
	color: #e0e0e0;
	background: #000;
	padding: 20px;
	margin-right: 25px;
}

.article-info {
	line-height: 26px;
}

.article-author {
	padding: 10px 0;
}
