.header-container {
	display: flex;
	border-bottom: 1px solid #ccc;
	flex-direction: row;
	align-items: center;
	padding: 15px 0;
}

.circle-logo {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #ffde00;
	margin: 0 10px 0 15px;
}
