html, body, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

.App {
	font-family: 'Arvo', serif;
}

.main-container {
	display: flex;
}

.main-content {
	flex: 6 0px;
	margin-bottom: 25px;
}

.prices-content {
	flex: 1 0px;
}

.main-article-container {
  padding: 15px 20px 15px 20px;
}

a {
	text-decoration: none;
}

@media (max-width:680px)  {
	.main-content {
		flex: auto;
	}
}
